*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --smokeblue: #738290;
    --lightblue: #a2b5d8;
    --offwhite: #fffcf7;
    --lightgreen: #e4f0d0;
    --green: #c2d8b9;
}

/* ubuntu-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* abril-fatface-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/abril-fatface-v23-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* antonio-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/antonio-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Antonio';
}

body {
    font-family: 'Ubuntu';
    font-size: 14px;
    margin: 0;
    background-color: var(--lightgreen);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    ;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    column-gap: 2rem;
    padding-right: 1rem;
}

nav li {
    display: flex;
}

.nav-left {
    display: flex;
    align-items: center;

}

.nav-left img {
    width: 100px;
    height: auto;
}

.nav-right {
    width: 80%;
}

header {
    margin-bottom: 20px;
}

#home {
    padding: 2rem;
    text-align: center;
    /* margin: 4rem 4rem 8rem 4rem; */

}



#duck {
    display: flex;
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--lightblue);
    padding: 2rem;

}

.duck-left {
    width: 50%;
    justify-content: flex-start;
    margin-left: 4rem;

}

.duck-right {
    width: 50%;
    justify-content: flex-end;
}

.duck-right img {
    max-width: 400px;
    float: right;
    margin-right: 4rem;
}

#emergency {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 2rem;
    /* margin-left: auto;
    margin-right: auto; */
}

.grid-item {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 150px;



}

.grid-container img {
    width: 240px;
    height: auto;
    border: solid black 1px;
    padding: 2px;

}

.grid-container a {
    padding: 1rem;

}

footer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--smokeblue);
}

footer img {
    width: 30px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
}

input {
    background-color: var(--lightgreen);
    border: var(--green) 1px solid;
}

textarea {
    background-color: var(--lightgreen);
    border: var(--green) 1px solid;
}

a {
    font-family: 'Ubuntu';
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    color: var(--smokeblue);
}

a:hover {
    color: var(--lightblue);
}

.fade-in-image {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}